checkpoints/*
*.pyc
../.bash_history
../.bash_logout
../.bashrc
../.cache/
../.conda/
../.config/
../.dotnet/
../.git-credentials
../.gitconfig
../.gsutil/
../.ipython/
../.local/
../.netrc
../.profile
../.ssh/
../.triton/
../.vscode-server/
../.wget-hsts
../Cambrian7M_withsystemprompt.jsonl
../alignment_2.5m.jsonl
../cam_pretrain/
../cambrian-dpo/
../cambrian_data/
../ckpt/
../get.ipynb
../miniforge3/
../model_ckpt/
../pretrain_data/
../snap/
../weiyangrl-bucket/
../yes/
